@page
@model LoginWithMagicLinkModel
@{
    ViewData["Title"] = "Logging you in...";
}
<div class="row container-background">
    <div>
        <div class="text-center mt-5">
            <h3>Logging you in...</h3>
            <p>Please go to your email and click the link to log in.</p>
        </div>
    </div>
</div>
