@page
@model Casimo.Server.Areas.Identity.Pages.Account.PasswordLoginModel
@{
}

<div class="container-card">
    <section id="standardLoginSection">
        <div class="d-flex justify-content-center mb-3">
            <img src="~/casimo_logo.png" alt="Sample Image" width="100px" />
        </div>
        <hr />
        <form id="account" method="post" asp-page-handler="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Hidden fields for data that needs to persist -->
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="RememberMe" />

            <!-- Display the email (read-only) -->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" value="@Model.Email" readonly />
                <label class="form-label">Email</label>
            </div>

            <!-- Password field -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <div class="d-flex justify-content-start">
                <a href="javascript:history.go(-1)" class="w-100 btn btn-lg btn-secondary mt-2 back-button">Back</a>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}