/* semantic color variables for this project */
:root {
    --color-primary: #111344;
    --color-secondary: #e03e29;
    --color-background: #f5f5ff;
    --color-success: #63A46C;
    --color-grey-dark: #808080;
    --color-grey: #F5F3F5;
    --color-white: #ffffff;
    --color-yellow: #a16207;
    --border-rad: 15px;
    --padding: 10px;
}


html, body {
    color: var(--color-primary);
    background-color: var(--color-background) !important;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: 100%;
}

#app {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: var(--color-primary)
}

h2 {
    color: var(--color-primary)
}

ul {
    list-style-type: none;
}

.btn-link:hover {
    color: var(--color-secondary)
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.background-container {
    background-color: var(--color-white);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.color-primary {
    color: var(--color-primary);
}

.register-container {
    display: flex;
    gap: 15px;
}

.bg-white {
    background: white;
    padding: 12px 12px;
    border-radius: var(--border-rad);
    transition: all ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    font-weight: 600;
}

    .bg-white:hover {
        background-color: var(--color-background);
        color: var(--color-secondary);
        transition: all ease-in-out 0.2s;
        transform: translateY(-3px);
    }

.mud-table {
    box-shadow: none !important;
}

.container {
    background: var(--color-white);
    padding: 15px;
    border-radius: var(--border-rad);
}

.shadow {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
}


.mud-button-filled.mud-button-filled-primary {
    border-radius: var(--border-rad);
    box-shadow: none;
    background-color: var(--color-primary) !important;
}

.mud-button-filled.mud-button-filled-success {
    border-radius: var(--border-rad);
    box-shadow: none;
    background-color: var(--color-success) !important;
}

.mud-button-filled.mud-button-filled-secondary {
    border-radius: var(--border-rad);
    box-shadow: none;
}

.mud-button-filled.mud-button-filled-default {
    border-radius: var(--border-rad);
    box-shadow: none;
}

.mud-button-filled.mud-button-filled-info {
    border-radius: var(--border-rad);
    box-shadow: none;
}

.mud-secondary-text {
    color: var(--color-secondary) !important;
}

.mud-tab.mud-tab-active {
    color: var(--color-secondary) !important;
}

    .mud-tab .mud-tab-active .mud-ripple .mud-tab-panel > * {
        color: var(--color-secondary) !important;
    }

.mud-tab-slider {
    background: black !important;
}

.mud-input-outlined-border {
    border-radius: var(--border-rad) !important;
}

.mud-table-cell.sticky-left {
    z-index: auto !important;
}

.mud-input {
    background: white !important;
    border-radius: var(--border-rad) !important;
}

.border-rad {
    border-radius: var(--border-rad) !important;
}

.inner-container {
    border: solid 3px var(--color-grey);
    background-color: var(--color-grey);
    padding: 15px 15px 15px 15px;
    transition: all 0.3s ease;
    border-radius: var(--border-rad);
    height: fit-content;
}


@media only screen and (max-width: 1024px){
    .container {
        padding: 10px 5px 5px 5px !important;
    }
}