@inherits LayoutComponentBase
<div class="barelayout">
    @Body
</div>

<style>
    .bareLayout{
        scrollbar-width: none;
    }
</style>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider MaxWidth="MaxWidth.Large" />
<MudSnackbarProvider />