.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.main {
    flex: 1;
    border-radius: 10px;
/*    display: flex;
    flex-direction: column;
*/
    overflow-x: hidden;

}

.sidebar {
    background: var(--color-background);
}

.top-row {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    /*background: rgb(245, 245, 255, 0.1);*/
    backdrop-filter: blur(5px);
    height: fit-content;
    z-index: 999;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.content {
    overflow-y: auto;
    flex: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content-body {
    flex: 1;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: 2rem;
}

@media (max-width: 900.98px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 640.98px) {


    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }


    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .content {
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
}
