@inherits LayoutComponentBase
@* Required *@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>
        <div class="content px-2 mt-4">
            <div class="content-body">
                @Body
            </div>
@*             <footer>
                Built by <a href="https://webres.solutions" target="_blank" style="color: #b2424d;">Webres Solutions</a>
            </footer> *@
        </div>
    </div>
</div>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider MaxWidth="MaxWidth.Large"/>
<MudSnackbarProvider />