.nav-bar-side {
    background-color: var(--color-white);
    height: 100vh;
    padding: 5px;
    min-width: 180px;
    /*border-radius: 0px 0px 15px 0px;*/
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3.5rem;
    background-color: var(--color-white);
    color: var(--color-primary) !important;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 500;
    /*border-radius: 0px 15px 0px 0px;*/
    backdrop-filter: blur(10px) !important;
}

.navbar-brand {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    width: 100%;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: var(--color-primary);
        border-radius: 15px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        transition: all ease-in-out 0.2s;
    }

        .nav-item ::deep a.active {
            background-color: var(--color-background);
            color: var(--color-secondary) !important;
        }

        .nav-item ::deep a:hover {
            background-color: var(--color-background);
            color: var(--color-grey-dark);
            transition: all ease-in-out 0.2s;
            transform: translateY(-3px);
        }

.nav-link {
    display:flex;
    gap: 10px;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
