<h3>RelatedUsesTable</h3>

@code {
    /// <summary>
    /// Initializes the RelatedUsesTable component
    /// </summary>
    protected override void OnInitialized()
    {
        // TODO: Implement related uses table functionality
    }
}
